<div class="ui transparent inverted main menu">
  {{#link-to 'reports.index' class="item"}}Доклады{{/link-to}}
  {{#link-to 'reports.new' class="item"}}Предложить{{/link-to}}
  {{render 'user.index'}}
</div>

<div>{{outlet}}</div>
